# Database structure

In [1]:
import pymysql

In [2]:
'''
this class is used to
create table 
drop table 
add column
drop column 
ulter column 

'''

'\nthis class is used to\ncreate table \ndrop table \nadd column\ndrop column \nulter column \n\n'

In [6]:
class database :
    def __init__(self , database_name) :
        #create connection to the database 
        self.db = pymysql.connect('127.0.0.1','root','',database_name)
        self.cursor = self.db.cursor()
     
    
    def create_table(self , table_name , column_name , column_type) :
        
        "this fuction is used to create table "
        " it takes three parameters. First: table_name , second: column_name , third : column_type "
        " output : table with just one column "
        
        try :
            sql = "create table " + table_name +"( " +column_name + " " + column_type + " )"  #sql querry
            self.cursor.execute(sql) 
            print(table_name +" is created sucessfully")
        except :
            print("error")
            
            
    def add_column(self,table_name , *args) :
        " this fun. is used to add columns to the table u want "
        "it takes multiple parameters . First : column_name , second : any columns u want with datatype after each column name" 
        "like (table_name , id , int , age , int , name , char(100) , .....)"
        
        try :
            for i in range(0,len(args),2) :
                sql = 'ALTER TABLE '+ table_name+ ' ADD ' + args[i]+ " " + args[i+1]
                self.cursor.execute(sql)
            print("table is updated successfully")    
        except :
            print("error")

            
    def drop_table(self , table_name) :
        "this is func. is used to drop / delete table "
        "it takes one parameter : table_name"
        try :
            sql = 'DROP TABLE ' + table_name;
            self.cursor.execute(sql)
            print(table_name , ' is dropped successfully ')
        except :
            print('error')
         
        
    def drop_column(self , table_name , column_name) :
        "is used to delete column .It takes 2 parameters . First:table_name , second : column_name"
        
        try :
            sql = 'ALTER TABLE '+ table_name + ' DROP COLUMN ' + column_name
            print(sql)
            self.cursor.execute(sql)
            print(column_name , ' is dropped successfully ')
        except :
            print('error')     
            
            
            
    def ulter_column(self , table_name , old_column_name , new_column_name='' , constarint = '' , data_type = None ) :
        "it used to modify column data_type , add constraint "
        "it takes 5 args . First : table_name , second : old_column_name , third : new_column_name (if u eant to change it )"
        "forth : constraint (if u want also )"
        "fifth : data_type "
        
        try :
            if data_type != None :
                sql = 'alter table ' + table_name + ' modify column ' + old_column_name +" "+  new_column_name + " " +  data_type + " " + constarint
                self.cursor.execute(sql)
            print("column is ultered successfully")    
        except :
            print("error")

In [7]:
# create object 

obj = database('ad')

In [8]:
#create table 
obj.create_table('data' , 'id' , 'int')

data is created sucessfully

In [9]:
#let's add new column 
obj.add_column('data' , 'age' , 'int' , 'weight' , 'int')

table is updated successfully